* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 80vh;
  background-color: black;
  display: flex;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
.row {
  flex-direction: row;
}
.rowRev {
  flex-direction: row-reverse;
}
.container .text {
  width: 50%;
  color: white;
  margin: auto;
  text-wrap: wrap;
  padding-left: 10vw;
}
.container .text h1 {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.container .text p {
  font-size: 1.5rem;
}
.container .revText {
  width: 50%;
  color: white;
  margin: auto;
  text-wrap: wrap;
  padding-right: 10vw;
}
.container .revText h1 {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.container .revText p {
  font-size: 1.5rem;
}
.container .img {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.container .img .wrapper {
  position: relative;
  width: 73%;
  height: 87%;
  overflow: hidden;
  margin-bottom: 20px;
}
.wrapper img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 2;
}
.wrapper .video {
  width: 74%;
  height: auto;
  position: absolute;
  z-index: 1;
  left: 13%;
  padding-top: 15%;
}
.wrapper .video2 {
  width: 64%;
  height: auto;
  position: absolute;
  z-index: 1;
  left: 19%;
  padding-top: 6%;
}

@media screen and (max-width: 1024px) {
  .container .text h1 {
    font-size: 2.5rem;
  }
  .container .revText h1 {
    font-size: 2.5rem;
  }
  .container {
    height: 60vh;
  }
}
@media screen and (max-width: 950px) {
  .container {
    flex-direction: column;
  }
}
