* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  overflow-x: hidden;
}
.getStarted {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/826348c2-cdcb-42a0-bc11-a788478ba5a2/6d20b198-e7ab-4e9f-a1aa-666faa0298f9/IN-en-20240729-POP_SIGNUP_TWO_WEEKS-perspective_WEB_a67d8c9e-8121-4a74-98e4-8005eb2df227_small.jpg");
  overflow: clip;
  z-index: -2;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  height: 80vh;
  width: 100vw;
  object-fit: contain;
}
.gradient {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.8)
  );
  z-index: 1;
  height: 80vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
}

.getStarted .header {
  z-index: 2;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.getStarted .header .heading {
  margin-left: 5%;
}
.getStarted .header .heading svg {
  width: 9.25rem;
  height: 2.5rem;
  fill: rgb(229, 9, 20);
}
.getStarted .header .signIn button {
  height: 30px;
  width: 80px;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 550;
  margin-left: 30px;
  font-family: inherit;
}

.getStarted .header .signIn {
  display: flex;
  align-items: flex-start;
  margin-right: 5%;
}
.getStarted .header .signIn select {
  height: 30px;
  width: 80px;
  background-color: transparent;
  color: white;
  border: 3px double white;
  border-radius: 5px;
  font-weight: 550;
  background-color: rgba(0, 0, 0, 0.6);
}
.getStarted .header .signIn option {
  color: black;
  font-weight: 550;
}
.getStarted .center {
  color: white;
  line-height: 40px;
  width: 80vw;
  text-align: center;
  margin: 50px auto;
}
.getStarted .center h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.getStarted .center p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.getStarted .center .box {
  display: flex;
  justify-content: center;
}
.getStarted .center .box input[type="email"] {
  width: 310px;
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid white;
  color: white;
  font-size: 1.3rem;
  padding-left: 20px;
}
.getStarted .center .box button {
  width: 200px;
  height: 7vh;
  margin-left: 10px;
  background-color: red;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 5px;
  font-family: inherit;
}
.grey {
  height: 1vh;
  width: 100vw;
  background-color: rgb(41, 41, 41);
}
Link {
  color: white;
}

a {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits the color from its parent element */
  cursor: default; /* Sets the cursor to the default cursor */
}

.input label {
  color: white;
}
.SigninCenter {
  height: 90vh;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.627);
  margin: auto;
  display: grid;

  justify-items: center;
  justify-content: center;
  align-content: center;
}
.SigninCenter header {
  width: 285px;
}
.SigninCenter footer {
  width: 285px;
}
.SigninCenter header h1 {
  color: white;
  text-align: center;
}

.SigninCenter form {
  display: grid;
}
.SigninCenter form input[type="text"],
input[type="password"] {
  width: 285px;
  height: 40px;
  background-color: rgba(22, 22, 22, 0.7);
  border: 1px solid grey;
  color: white;
  font-size: 1rem;
  padding-left: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
}
.SigninCenter form button {
  width: 285px;
  height: 40px;
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 1rem;
  margin-bottom: 10px;
  border-radius: 3px;
}
.SigninCenter form h4 {
  color: white;
  text-align: center;
}
.SigninCenter form .button2 {
  width: 285px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.196);
  border: none;
  color: white;
  font-size: 1rem;
  padding-left: 20px;
  margin: 10px 0 20px;
  border-radius: 3px;
}
.SigninCenter form a {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.SigninCenter footer label {
  color: white;
  margin-left: 10px;
  font-size: 1.2rem;
}

.SigninCenter footer .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.SigninCenter footer .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #ffffff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid rgb(12, 12, 12);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.SigninCenter footer p {
  color: rgba(255, 255, 255, 0.623);
  padding-left: 10px;
  font-size: 0.9rem;
}
.SigninCenter footer .foot {
  font-size: 0.7rem;
  margin-top: 20px;
}
.SigninCenter footer p b {
  color: white;
}
.SigninCenter footer .foot b {
  font-size: 0.7rem;
  color: blue;
}
.getStarted .center .box button svg {
  height: 20px;
  width: 20px;
}
@media screen and (max-width: 320px) {
  .getStarted .header .heading svg {
    width: 5.5625rem;
    height: 1.5rem;
    margin-bottom: 10px;
  }
  .getStarted .header .signIn select {
    width: 24px;
  }
  .getStarted .header .signIn button {
    width: 55px;
  }
}

@media screen and (min-width: 1024px) {
  .getStarted .center h1 {
    font-size: 3rem;
  }
  .getStarted .center p {
    font-size: 1.4rem;
  }
  .getStarted {
    height: 96vh;
  }
  .gradient {
    height: 96vh;
  }
}

@media screen and (max-width: 540px) {
  .getStarted .center .box {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .getStarted .SigninCenter {
    width: 50vw;
  }
}
@media screen and (min-width: 1440px) {
  .getStarted .SigninCenter {
    width: 30vw;
  }
}
@media screen and (max-width: 768px) {
  .getStarted .SigninCenter {
    width: 80vw;
  }
}
@media screen and (max-width: 426px) {
  .SigninCenter form input[type="text"],
  input[type="password"] {
    width: 200px;
    margin: 0 auto 20px;
  }
  .SigninCenter form button {
    width: 200px;
    margin: auto;
  }
  .SigninCenter form .button2 {
    width: 200px;
    margin: auto;
  }
  .SigninCenter footer {
    width: 200px;
  }
  .getStarted .center .box input[type="email"] {
    width: 230px;
    height: 6vh;
  }
  .getStarted .center .box button {
    width: 120px;
    height: 6vh;
    font-size: 1rem;
    margin-top: 10px;
  }
  .getStarted .center .box button svg {
    height: 15px;
    width: 15px;
  }
  .getStarted .center h1 {
    font-size: 1.5rem;
  }
  .getStarted .center p {
    font-size: 1rem;
  }
  .getStarted .center {
    list-style: 0;
  }
}
